.workout {
  margin-top: 3rem;
  display: flex;

  &__container {
    width: 100%;
  }
}

/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575.99px) {
}
/* Small devices (phones, 576px and up) */
@media only screen and (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .workout {
    gap: 3rem;
    margin-top: 5rem;
  }

  .landing-img {
    display: block;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
