// *******************************************
// Color
// *******************************************
$color-white: #f5f5f5;
$color-white-dark: #e7e7e7;
$color-grey-light: #ddd;
$color-grey: #888;
$color-grey-dark: #777;
$color-black-light-3: #434851;
$color-black-light-2: #313741;
$color-black-light: #22252c;
$color-black: #111;

$color-green: rgb(148, 223, 87);
$color-yellow: rgb(235, 238, 71);

// $color-primary-light: #00f29a;
$color-primary: #de2341;
// $color-primary-dark: #2ad7af;

// *******************************************
// Length
// *******************************************
$padding-section: 5% 10%;
