@use '../styles/abstracts/variables.scss' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$color-white;
  padding: v.$padding-section;

  &__btn {
    font-size: 3.5rem;
    background-color: transparent;
    border: none;
    color: #2f4858;
    transition: 0.2s linear;
    cursor: pointer;

    &:hover {
      color: v.$color-primary;
    }
  }
}

.logo-img {
  width: 20rem;
}
