@use '../styles/abstracts/variables.scss' as v;

.header {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
  background-color: v.$color-white;
  padding: v.$padding-section;

  &__btn {
    font-size: 3.5rem;
    background-color: transparent;
    border: none;
    color: #2f4858;
    transition: 0.2s linear;
    cursor: pointer;

    &:hover {
      color: v.$color-primary;
    }
  }
}

.logo-img {
  width: 20rem;
}

/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
}
/* Small devices (phones, 576px and up) */
@media only screen and (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header__btn {
    display: none;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
