@use '../styles/abstracts/variables.scss' as v;
@use '../styles/abstracts/mixins.scss' as m;

.routine {
  @include m.group-style;
}

.search-dropdown {
  position: absolute;
  width: 80%;
  background-color: v.$color-white;
  color: v.$color-black;
  list-style: none;
  font-size: 2.5rem;
}

.search-row {
  padding: 0.7rem;

  &:hover {
    background-color: v.$color-white-dark;
  }

  &:not(:first-child) {
    margin-top: 0.5rem;
  }
}

/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575.99px) {
}
/* Small devices (phones, 576px and up) */
@media only screen and (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .search-dropdown {
    width: calc(40% - 1.5rem);
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
